<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a th:text="${configurations.get('footerAbout')}">my blog.</a>  &nbsp;   • &nbsp;
        Powered by <a href="https://binnyang179.github.io/crab" target="_blank" th:text="${configurations.get('footerCopyRight')}">2019 crab</a><br/>
        ICP <a th:text="${configurations.get('footerICP')}">blog</a>
        <span class="ft-warn">&heartsuit;</span>
        Theme <a rel="friend" href="https://github.com/spiritree/typecho-theme-amaze" target="_blank"> Amaze</a> by <a href="https://github.com/binnyang179" target="_blank">spiritree</a> & <a href="https://github.com/binnyang179" target="_blank">Jiahao.Zhang</a>
    </div>
</footer>
</html>